# Server Environment Variables
PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/smart_healthcare
JWT_SECRET=smart_healthcare_super_secret_jwt_key_2026_major_project
CLIENT_URL=http://localhost:5173

# Client Environment Variables (Optional override)
VITE_API_BASE_URL=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000
