PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/smart_healthcare?retryWrites=true&w=majority&appName=smarthealthcareecosystem
JWT_SECRET=your_jwt_secret_key_here
CLIENT_URL=http://localhost:5173
AI_SERVICE_URL=http://localhost:8000
